apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: frontend
  name: frontend
spec:
  replicas: 1
  strategy: 
    type: Recreate
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - image: osamagharib/pip-frontend
        name: frontend
        env:
        - name: BACKEND_URL
          value: 'http://pip-backend.com'
        resources: {}
        ports:
        - containerPort: 80
