<div class="bg-gray-200 flex items-center justify-center min-h-screen">
    <div class="w-full max-w-lg bg-white p-10 rounded-lg shadow-lg mt-2">
        <h2 class="text-3xl font-bold mb-6 text-gray-900 text-center">
            Sign In
        </h2>
        <div class="flex items-center justify-center">
            <div class="loader m-20" *ngIf="isLoading"></div>

            <form [formGroup]="form" *ngIf="!isLoading" (ngSubmit)="onSubmit()">
                <div class="mb-6">
                    <label
                        class="block text-gray-700 text-lg font-bold mb-2"
                        for="email"
                        >Username</label
                    >
                    <input
                        class="shadow appearance-none border rounded w-full py-3 px-6 text-gray-700 leading-tight focus:outline-none focus:ring-1 focus:ring-purple-800"
                        id="username"
                        type="text"
                        formControlName="username"
                        [ngClass]="{
                            'bg-red-100':
                                this.form.get('username').invalid &&
                                this.form.get('username').touched
                        }"
                        placeholder="Enter your username"
                    />
                </div>
                <div class="mb-6">
                    <label
                        class="block text-gray-700 text-lg font-bold mb-2"
                        for="password"
                        >Password</label
                    >
                    <input
                        class="shadow appearance-none border rounded w-full py-3 px-6 text-gray-700 mb-3 leading-tight focus:outline-none focus:ring-1 focus:ring-purple-800"
                        id="password"
                        type="password"
                        formControlName="password"
                        [ngClass]="{
                            'bg-red-100':
                                this.form.get('password').invalid &&
                                this.form.get('password').touched
                        }"
                        placeholder="Enter your password"
                    />
                </div>

                <div
                    class="flex items-center flex-row justify-evenly bg-red-100 rounded-md mb-6 p-2"
                    *ngIf="invalidationError"
                >
                    <span class="material-icons">error_outline</span>
                    <p class="text-red-600 text-center">
                        Invalid username or password
                    </p>
                </div>

                <div class="flex items-center justify-between mb-4">
                    <button
                        class="btn"
                        type="submit"
                        [disabled]="this.form.invalid"
                        [ngClass]="{ 'ready': this.form.valid, 'disabled': this.form.invalid}"
                    >
                        Sign In
                    </button>
                </div>

                <a
                    [routerLink]="['/signup']"
                    fontfamily="Raleway"
                    class="hover:text-purple-500 text-center mr-4 text-sm"
                    >Don't have an account? Register here</a
                >
            </form>
        </div>
    </div>
</div>
